@tailwind components;
@tailwind utilities;
@tailwind base;

:root {
    --primary: #f0f0f0;
    --secondary: #93e7fb;
    --light-blue: #70bed3;
    --text-color: #ffffff;
}
body {
    background: linear-gradient(to bottom, #e2f6fc 14%, #ffffff 100%);
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

*::-webkit-scrollbar-track {
    background: var(--primary);
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 3px solid var(--primary);
}
